main {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #f19f9f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #b40000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ca0202;
  }
  
  /* Estilos para mensagens de erro */
  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    main {
      width: 90%;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 8px;
    }
  
    button {
      padding: 8px 16px;
    }
  }